.movieInfo {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
    height: auto;
    margin-right: 15%;

    padding-left: 5px;
    color: aquamarine;
    font-family: 'Roboto', sans-serif, italic;
    font-style: italic;
}

.header {
    text-decoration: underline solid rgba(255, 127, 252, 0.79);
    font-style: normal;
    text-shadow: -1px -1px 1px rgba(255, 127, 252, 0.79), 1px 1px 1px rgba(0, 0, 0, .5);
}

.aboutMovie {
    padding-left: 1px;
    padding-top: 5px;
}