.movieCard{
    display: flex;
    flex-direction: column;
    position: center;
    margin : 10px 10px 25px 10px;
    width: 10rem;
}

.movieCardData{
    width: 10rem;
    display: flex;
    flex-direction: column;
    cursor: pointer;



}

.movieCardData:hover{
    border-color: tomato;
    transform: scale(1.05);
    transition: 0.7s;
}
.movieCardData:hover .overlay{
    opacity: 1;
}

.overlay{
    position: absolute;
    background: rgba(0,0,0,0.8);
    width: 100%;
    transition: 0.5s ease;
    opacity: 0;
    bottom: 0;
    font-size: 20px;
    padding: 20px;
    text-align: center;
}

.img{
    width:10rem;
    height:15rem;
    border-radius: 10px 10px 0 0 ;
    box-shadow: 8px 7px 20px 8px rgba(232,88,6,0.24);
    -webkit-box-shadow: 8px 7px 20px 8px rgba(232,88,6,0.24);
    -moz-box-shadow: 8px 7px 20px 8px rgba(232,88,6,0.24);
}

.title{
    width: 10rem;
    font-size: 12px;
    font-family: Inconsolata, sans-serif;
    margin-top:15px;
    margin-bottom: 3px;
    height: 30px;
    position: static;
    color:midnightblue;
}

.aboutMovie{
    width: 10rem;

    /*width: 10rem;*/
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    background-color: darkgray;
    border-radius: 0 0 4px 4px;
}

.date{
    font-size: 15px;
    color:midnightblue;
    font-weight: bolder;
    margin: 5px 0 5px 4px;
}

.rate{
    font-size: 15px;
    color:coral;
    font-weight: bolder;
    margin: 5px 4px 5px 0;
}

.highRate{
    font-size: 15px;
    font-weight: bolder;
    margin: 5px 4px 5px 0;
    color:lawngreen;
}