

.movieCard{
    display: flex;
    flex-direction: column;
    cursor: pointer;
    /*padding-bottom: 50px;*/
    margin : 10px 25px 25px auto;

}

.movieCardData:hover{
    border-color: tomato;
    transform: scale(1.05);
    transition: 0.7s;
}



.img{
    width:10rem;
    height:15rem;
    border-radius: 10px 10px 0 0 ;
    box-shadow: 8px 7px 20px 8px rgba(232,88,6,0.24);
    -webkit-box-shadow: 8px 7px 20px 8px rgba(232,88,6,0.24);
    -moz-box-shadow: 8px 7px 20px 8px rgba(232,88,6,0.24);
}

.title{
    font-size: 12px;
    font-family: Inconsolata, sans-serif;
    margin-top:15px;
    margin-bottom: 3px;
    height: 30px;
    position: static;
    color:midnightblue;
}

.aboutMovie{
    width: 10rem;
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    background-color: darkgray;
    border-radius: 0 0 4px 4px;
}

.date{
    font-size: 15px;
    color:midnightblue;
    font-weight: bolder;
    margin: 5px 0 5px 4px;
    }

.rate{
    font-size: 15px;
    color:coral;
    font-weight: bolder;
    margin: 5px 4px 5px 0;
}

.rateAqua{
    font-size: 15px;
    font-weight: bolder;
    margin: 5px 4px 5px 0;
    color:lawngreen;
}