.main{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
    grid-column-gap: 5px;
    grid-row-gap: 10px;
    background: antiquewhite;
    padding-bottom: 20px;
    }