root{
  font-family: 'Roboto', sans-serif;

}
.App {
  background-color: blanchedalmond;
  margin: auto;

}

.container{
  padding: 0 150px;
}

.toolBar{
  display: flex;
  flex-direction: row;
  justify-content:space-between ;
}