root {
    font-family: 'Roboto', sans-serif;

}

.App {
    /*background-color: lightslategrey;*/
    background: linear-gradient(112.1deg, rgb(32, 38, 57) 11.4%, rgb(63, 76, 119) 70.2%);

    margin: auto;

    width: auto;

}

.container {
    padding: 0 150px;
}

.toolBar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}